/* Navbar */
.navbar {
    height: 60px; 
    width: 100%;
    background: linear-gradient(to right, #00bcd4, #009688); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.navbar a:hover {
    color: #ffeb3b; 
    transform: scale(1.1);
}

.Log-out{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.Log-out:hover{
    color: #ffeb3b; 
    transform: scale(1.1);
}

.movies-window {
    width: 100%;
    background: linear-gradient(120deg, #74ebd5, #acb6e5);
    padding: 10px;
    overflow-x: hidden;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.225fr)); /* More flexibility */
    grid-auto-rows: 500px;
    gap: 30px;
    padding: 10px;
}


.movie-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.movie-name {
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}


.movie-image {
    height: 300px;
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 8px;
}


.book-btn {
    display: inline-block;
    border: none;
    color: white;
    background: red;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    margin-top: 5px;
}

.book-btn:hover {
    transform: scale(1.1);
    background: darkred;
}
